<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>CFBundleExecutable</key>
	<string>dvdisaster</string>
	<key>CFBundleIconFile</key>
	<string>dvdisaster</string>
	<key>CFBundleIdentifier</key>
	<string>com.dvdisaster.dvdisaster</string>
	<key>CFBundleName</key>
	<string>dvdisaster</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.71.28</string>
	<key>CFBundleSignature</key>
	<string>CGCG</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2004-2010 Carsten Gnörlich et al</string>
</dict>
</plist>
