@charset "UTF-8";

body { font-family:Helvetica,Arial,sans-serif,Verdana }

a:link { font-weight:normal; color:#0000ff; text-decoration:none }
a:visited { font-weight:normal; color:#0000ff; text-decoration:none }
a:hover { font-weight:normal; background-color:#e0e0e0; color:#0000FF; text-decoration:none }
a:active { font-weight:normal; background-color:#e0e0e0; color:#0000FF; text-decoration:none }
a:focus { font-weight:normal; background-color:#e0e0e0; color:#0000FF; text-decoration:none }

table.navigation   {width:100%; background-color:#f0f0f0}
table.download   {width:100%; background-color:#f0f0f0}
table.thumbnail  {border-width:1px; border-style:solid; border-color:#000000; background-color:#e0e0ff}
table.screenshot {width:100%; border-width:0px; background-color:#e0e0ff}

table.ecompat {border-width:0px}
table.ecompat td { border-width:0px; vertical-align:text-top}
table.ecompat td.file { border-width:0px; background-color:#ffa0ff}
table.ecompat td.iso { border-width:0px; background-color:#a0ffff}
table.ecompat td.augment { border-width:0px; background-color:#a0a0ff}


table.compat {width:100%; border-style:solid; border-width:0px; border-collapse:collapse}
table.compat th { border-width:1px; padding:8px; border-style:solid; background-color:#b0b0b0 }
table.compat th.file { border-width:1px; padding:8px; border-style:solid; background-color:#ffa0ff }
table.compat th.iso { border-width:1px; padding:8px; border-style:solid; background-color:#a0ffff }
table.compat th.augment { border-width:1px; padding:8px; border-style:solid; background-color:#a0a0ff }

table.compat td { border-width:1px; padding:4px; border-style:solid; text-align:center}

table.compat td.noalign { border-width:1px; padding:4px; border-style:solid }
table.compat td.fullspan { border-width:1px; padding:0px; border-style:solid; background-color:#e0e0e0 }
table.compat td.red { border-width:1px; padding:4px; border-style:solid; background-color:#ff8080; text-align:center}
table.compat td.yellow { border-width:1px; padding:4px; border-style:solid; background-color:#ffe0a0; text-align:center}
table.compat td.green { border-width:1px; padding:4px; border-style:solid; background-color:#a0ffa0; text-align:center}
table.compat td.grey { border-width:1px; padding:4px; border-style:solid; background-color:#e0e0e0; text-align:center}
table.compat td.white { border-width:1px; padding:4px; border-style:solid; text-align:center}

a.active  {color:#0000ff; text-decoration:none }
a.passive {color:#808080; text-decoration:none }

img.noborder {border:0px solid transparent;}
img.nobordervalignm {border:0px solid transparent; vertical-align:middle;}

span.fl {font-size:large;}
span.fxxl {font-size:xx-large;}
span.fs {font-size:small;}
span.fxs {font-size:x-small;}
span.green {color:green;}
span.red {color:red;}
span.blue {color:blue;}
span.yellow {color:gold;}

h3.top {margin-top: 0;}

table {empty-cells:show;} /* display border and background color even for empty table cells */
td.hsep {height:1px; width:100%; background-color:black;} /* black horizontal separator */
td.vsep {height:100%; width:2px; background-color:black;} /* black vertical separator */
td.esep {height:3px;}

.w10p {width:10%;}
.w15p {width:15%;}
.w20p {width:20%;}
.w50p {width:50%;}
.w55p {width:55%;}
.w65x {width:65px;}
.w100x {width:100px;}
.w127x {width:127px;}
.w150x {width:150px;}
.w200x {width:200px;}

.valignb {vertical-align:bottom;}
.valignm {vertical-align:middle;}
.valignt {vertical-align:top;}
.valigntt {vertical-align:text-top;}
.talignr {text-align:right;}
